body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #B2AC88;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}